# hal_camera_somc.te
type hal_camera_somc, domain;
hal_server_domain(hal_camera_somc, hal_camera)

type hal_camera_somc_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_camera_somc)

unix_socket_connect(hal_camera_somc, tad, tad)
unix_socket_connect(hal_camera_somc, secd_credmgr, secd)

binder_call(hal_camera_somc, hal_idd_default)
binder_call(hal_camera_somc, cacaoserver)

allow hal_camera_somc hal_graphics_mapper_hwservice:hwservice_manager find;
allow hal_camera_somc hal_idd_hwservice:hwservice_manager find;

# /sys/devices/soc/8c0000.qcom,msm-cam/video4linux/video0/name
r_dir_file(hal_camera_somc, sysfs_camera)

# /sys/devices/soc/ca0c000.qcom,cci/ca0c000.qcom,cci:qcom,camera@0/video4linux/video1/name
allow hal_camera_somc sysfs_graphics:file r_file_perms;

# /sys/devices/sony_camera_0/info
# /sys/devices/sony_camera_1/info
allow hal_camera_somc sysfs_sony_camera:file rw_file_perms;

# /sys/devices/virtual/input/input3/chip_pow
allow hal_camera_somc sysfs_tof_rgbcir:file rw_file_perms;

# /odm
r_dir_file(hal_camera_somc, oemfs)
