r_dir_file(hal_graphics_allocator_default, sysfs_graphics)
r_dir_file(hal_graphics_allocator_default, sysfs_mdss_mdp_caps)
r_dir_file(hal_graphics_allocator_default, sysfs_msm_subsys)
