type hal_wifi_hostapd, domain;
hal_server_domain(hal_wifi_hostapd, hal_wifi)

type hal_wifi_hostapd_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_wifi_hostapd)

add_hwservice(hal_wifi_hostapd, hal_wifi_somc_hwservice)
