type hal_mediadrm_default, domain;
hal_server_domain(hal_mediadrm_default, hal_drm)

type hal_mediadrm_default_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_mediadrm_default)

# Add widevine also as hwservice
# FIXME allow hal_mediadrm_default hal_drm_hwservice:hwservice_manager add;

vndbinder_use(hal_mediadrm_default)
