allow hal_keymaster_default keymaster_prop:file r_file_perms;
# sys.listeners.registered
allow hal_keymaster_default tee_listener_prop:file r_file_perms;
