# Data file accesses.
allow hal_nfc_default nfc_vendor_data_file:dir create_dir_perms;
allow hal_nfc_default nfc_vendor_data_file:file create_file_perms;

r_dir_file(hal_nfc_default, sysfs_msm_subsys)
