type hal_display_hwservice, hwservice_manager_type;
type hal_idd_fallback_hwservice, hwservice_manager_type;
type hal_idd_hwservice, hwservice_manager_type;
type hal_miscta_hwservice, hwservice_manager_type;
type hal_secd_hwservice, hwservice_manager_type;
type hal_wifi_somc_hwservice, hwservice_manager_type;
