type illumination_service, domain;
type illumination_service_exec, exec_type, file_type;

init_daemon_domain(illumination_service)

domain_trans(init, socket_device, illumination_service)
