# symlink /sdcard to backing block
allow init tmpfs:lnk_file create;
allow init configfs:lnk_file create;

allow init persist_file:dir mounton;

dontaudit init kernel:system module_request;

allow init proc_cmdline:file r_file_perms;

#Allow triggering IPA FWs loading
allow init ipa_dev:chr_file rw_file_perms;

# ueventd relabling
allow init {
    sysfs_batteryinfo
    sysfs_camera
    sysfs_clkscale
    sysfs_irq
    sysfs_leds
    sysfs_mdss_mdp_caps
    sysfs_msm_subsys
    sysfs_soc
    sysfs_thermal
    sysfs_net
    sysfs_timestamp_switch
}:{ dir file } relabelfrom;

# /sys/kernel/irq_helper/irq_blacklist_on
allow init sysfs_irq:file r_file_perms;

# init_power.te
allow init sysfs_devices_system_cpu:dir w_dir_perms;
allow init sysfs_devices_system_cpu:file w_file_perms;
