set_prop(netmgrd, net_rmnet_prop)

allow netmgrd netmgrd_socket:dir w_dir_perms;
allow netmgrd netmgrd_socket:sock_file create_file_perms;

allow netmgrd sysfs_net:dir r_dir_perms;
allow netmgrd sysfs_net:file rw_file_perms;
allow netmgrd sysfs_soc:dir search;
allow netmgrd sysfs_soc:file r_file_perms;
allow netmgrd sysfs_msm_subsys:dir r_dir_perms;
allow netmgrd sysfs_msm_subsys:file r_file_perms;

r_dir_file(netmgrd, sysfs_msm_subsys)

#Ignore if device loading for private IOCTL failed
dontaudit netmgrd kernel:system { module_request };

allow netmgrd proc_net:file rw_file_perms;

allow netutils_wrapper self:capability { sys_module };

# /data
rw_dir_file(netmgrd, net_data_file)

allow netmgrd self:capability { net_admin net_raw setgid setpcap setuid };

allow netmgrd toolbox_exec:file rx_file_perms;

dontaudit netmgrd kernel:system module_request;
dontaudit netmgrd self:system module_request;
