type sct_service, domain;
type sct_service_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(sct_service)

allow sct_service self:capability {
    net_raw
};

allow sct_service self:socket create_socket_perms;
allowxperm sct_service self:socket ioctl msm_sock_ipc_ioctls;
