# Policy for sensor daemon

allow sensors persist_sensors_file:dir rw_dir_perms;
allow sensors persist_sensors_file:file create_file_perms;

allow sensors sensors_vendor_data_file:dir create_dir_perms;
allow sensors sensors_vendor_data_file:file create_file_perms;

allow sensors sysfs_soc:dir r_dir_perms;
allow sensors sysfs_soc:file r_file_perms;

r_dir_file(sensors, sysfs_msm_subsys)

# /dev/socket/tad
unix_socket_connect(sensors, tad, tad)
