type ssr_level, domain;
type ssr_level_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(ssr_level)

allow ssr_level vendor_shell_exec:file { entrypoint };
allow ssr_level vendor_toolbox_exec:file { execute_no_trans };

rw_dir_file(ssr_level, sysfs_msm_subsys)
allow ssr_level sysfs_data:file rw_file_perms;
