type sysinit, domain;
type sysinit_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(sysinit)

# /system/bin/sh
allow sysinit shell_exec:file r_file_perms;
# /system/etc/init.d
allow sysinit system_file:dir r_file_perms;
