# cnss-daemon
allow wcnss_service sysfs_msm_subsys:dir r_dir_perms;
allow wcnss_service sysfs_soc:dir r_dir_perms;

allow wcnss_service firmware_file:lnk_file r_file_perms;
