on early-init
    mkdir /firmware 0771 system system
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice
    symlink /system/vendor /vendor
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on post-fs
    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on init
    # Mount cgroup for cpu accounting
    mount cgroup none /acct cpuacct
    mkdir /acct/uid
