# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Trim Area Daemon
service vendor.tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    class core
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    seclabel u:r:tad:s0
    writepid /dev/cpuset/system-background/tasks
    shutdown critical

# QCOM prop
service vendor.cnd /vendor/bin/cnd
    class main
    user system
    group system wifi inet radio wakelock net_admin
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service irsc_util /vendor/bin/irsc_util "/system/vendor/etc/sec_config"
    class core
    user root
    oneshot

### RADIO

# QCOM prop
service vendor.rmt_storage /vendor/bin/rmt_storage
    class core
    user root
    group system wakelock
    shutdown critical
    ioprio rt 0

# QCOM prop
service vendor.tftp_server /vendor/bin/tftp_server
   class core
   user root
   group root system

# QCOM prop radio
service vendor.port-bridge /vendor/bin/port-bridge
    class main
    user radio
    group radio system inet
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM prop radio
service vendor.netmgrd /vendor/bin/netmgrd
    class main
    group system wakelock
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop vendor.netmgrd

# QCOM prop radio
service vendor.ipacm-diag /vendor/bin/ipacm-diag
    class main
    user radio
    socket ipacm_log_file dgram 660 radio radio
    group radio diag oem_2901
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM radio tethering
service vendor.ipacm /system/vendor/bin/ipacm
    class main
    user radio
    group radio inet
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM prop radio
service vendor.qti /vendor/bin/qti
    class main
    user radio
    group radio net_raw diag usb net_admin
    disabled
    writepid /dev/cpuset/system-background/tasks

service vendor.dataadpl /vendor/bin/adpl
    class main
    user radio
    group radio oem_2901 diag usb net_admin
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:ro.boot.baseband=msm
    enable vendor.ipacm-diag
    enable vendor.ipacm
    enable vendor.qti
    enable vendor.dataadpl
    enable vendor.netmgrd
    enable vendor.port-bridge

# QCOM prop radio
service atfwd /vendor/bin/ATFWD-daemon
    class late_start
    user system
    group system radio

### Peripheral Manager
service per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
    shutdown critical

service per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.per_mgr=running
    start per_proxy

on shutdown
    stop per_proxy
    # Disable subsystem restart
    write /sys/module/subsystem_restart/parameters/disable_restart_work 0x9889deed

# QCOM prop
service pd_mapper /vendor/bin/pd-mapper
     class core

service cnss_diag /vendor/bin/cnss_diag -q -f -t HELIUM
   class main
   user system
   group system wifi inet sdcard_rw media_rw diag
   disabled
   oneshot

# QCOM prop
service cnss-daemon /vendor/bin/cnss-daemon -n -l
    class late_start
    user system
    group system inet net_admin wifi oem_2901

# DRM widevine
service wvkbd_installer /vendor/bin/wvkbd
    class late_start
    user system
    group system
    oneshot

on shutdown
    stop cnss-daemon

### GNSS

# loc_launcher will start as root and set its uid to gps
service loc_launcher /vendor/bin/loc_launcher
    class late_start
    user gps
    group gps

service xtra-daemon /vendor/bin/xtra-daemon
    class late_start
    user gps
    group gps system

service msm_irqbalance /vendor/bin/msm_irqbalance -f /system/etc/msm_irqbalance.conf
    class core
    user root
    group root

### SENSORS
service vendor.sensors /vendor/bin/sensors.qti
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

### TEE
service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks
    shutdown critical

### Thermal Manager
service thermal-engine /system/vendor/bin/thermal-engine
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    socket thermal-send-rule stream 0660 system system
    group root

### ADSP FastRPC
service adsprpcd /vendor/bin/adsprpcd
   class main
   user media
   group media

### TimeService
service time_daemon /vendor/bin/time_daemon
    class main
    user root
    group root

### Display
service vendor.ppd /vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled

on property:init.svc.surfaceflinger=stopped
    stop vendor.ppd

on property:init.svc.surfaceflinger=running
    start vendor.ppd

on property:init.svc.surfaceflinger=restarting
    stop vendor.ppd

on property:init.svc.zygote=stopped
    stop vendor.ppd

on property:init.svc.zygote=running
    start vendor.ppd

on property:init.svc.zygote=restarting
    stop vendor.ppd

### PERF
service energy-awareness /system/vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

### BLUETOOTH
on property:vendor.wc_transport.start_hci=true
    start vendor.start_hci_filter

on property:vendor.wc_transport.start_hci=false
    stop vendor.start_hci_filter

service vendor.start_hci_filter /system/vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth diag system wakelock
    seclabel u:r:bluetooth:s0
    disabled

### SSR (subsystem restart)
on property:persist.vendor.ssr.restart_level=*
    start vendor.ssr_setup

service vendor.ssr_setup /system/vendor/bin/ssr_setup
    oneshot
    disabled

on property:persist.sys.ssr.enable_debug=*
    write /sys/module/subsystem_restart/parameters/enable_debug ${persist.sys.ssr.enable_debug}

on property:persist.sys.mba_boot_timeout=*
    write /sys/module/pil_msa/parameters/pbl_mba_boot_timeout_ms ${persist.sys.mba_boot_timeout}

on property:persist.sys.modem_auth_timeout=*
    write /sys/module/pil_msa/parameters/modem_auth_timeout_ms ${persist.sys.modem_auth_timeout}

on property:persist.sys.pil_proxy_timeout=*
    write /sys/module/peripheral_loader/parameters/proxy_timeout_ms ${persist.sys.pil_proxy_timeout}

on property:persist.vendor.ssr.enable_ramdumps=1
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
    mkdir /data/vendor/ramdump_ssr 770 system system
    start vendor.ss_ramdump

on property:persist.vendor.ssr.enable_ramdumps=0
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0

service vendor.ss_ramdump /system/vendor/bin/subsystem_ramdump
    class main
    user system
    group system
    disabled

### Offline charger
service charger /charger
    class charger
    critical
    group system graphics input log
    seclabel u:r:healthd:s0
    writepid /dev/cpuset/system-background/tasks

service qbcharger /charger -m 1
    disabled
    oneshot

on property:sys.qbcharger.enable=true
    start qbcharger

on property:sys.qbcharger.enable=false
    stop qbcharger

# DSDS second ril
service ril-daemon2 /system/vendor/bin/hw/rild -c 2
    class main
    user radio
    disabled
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

on property:ro.boot.baseband=apq
    setprop ro.radio.noril yes
    stop ril-daemon

on property:persist.radio.multisim.config=dsds
    enable ril-daemon2

# adb over network
on property:adb.network.port.es=*
    setprop service.adb.tcp.port ${adb.network.port.es}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
