# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import /vendor/etc/init/hw/init.common.rc
import /vendor/etc/init/hw/init.common.srv.rc
import /vendor/etc/init/hw/init.common.ims.rc
import /vendor/etc/init/hw/init.common.qcom.rc

import /vendor/etc/init/hw/init.yoshino.usb.rc
import /vendor/etc/init/hw/init.yoshino.pwr.rc

on early-init
    write /sys/module/msm_rtb/parameters/enable 0

    # Kernel modules for SIM, vibrator, bus and NFC
    insmod /vendor/lib/modules/bu520x1nvx.ko
    insmod /vendor/lib/modules/sim_detect.ko
    insmod /vendor/lib/modules/ldo_vibrator.ko
    insmod /vendor/lib/modules/pn553.ko

    # Kernel module for fingerprint sensor
    insmod /vendor/lib/modules/fpc1145_platform.ko
    write /sys/devices/soc/soc:fpc1145/uevent add

on init
    # Load persistent dm-verity state
    verity_load_state

    # Setup subsystem restart_level
    # This will be configured with the ssr_setup service
    setprop persist.vendor.ssr.restart_level "venus adsp slpi modem cdsp"

    # UFS firmware update
    exec u:r:vendor_ffu:s0 -- /vendor/bin/ffu

on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice

    mount_all /vendor/etc/fstab.${ro.hardware}

    swapon_all /vendor/etc/fstab.${ro.hardware}

    write /sys/devices/soc/c0a4900.sdhci/mmc_host/mmc0/clkgate_delay 1

    # Start tad early as other core services depend on it
    wait /dev/block/sda1
    chown oem_2997 oem_2997 /dev/block/sda1
    chmod 0770 /dev/block/sda1
    start tad

    # These are needed for MiscTA HIDL service
    start hwservicemanager
    start hidl_memory

    # Kernel module for AES-XTS/AES-CBC used by ext4 FBE
    insmod /vendor/lib/modules/kscl.ko

#    # configure the modem
#    exec u:r:qti_init_shell:s0 -- /vendor/bin/init.sony.modem.sh

    # SONY: creat mount point for qns
    mkdir /mnt/qns 0750 oem_2985 oem_2985
    wait /dev/block/bootdevice/by-name/Qnovo
    mount_all /vendor/etc/qns.fstab --early

    # SONY: setup qns partition
    chown oem_2985 oem_2985 /mnt/qns
    chmod 0750 /mnt/qns
    restorecon_recursive /mnt/qns

    # qns
    chown oem_2985 oem_2985 /sys/class/qns
    chown oem_2985 oem_2985 /sys/class/qns/alarm
    chown oem_2985 oem_2985 /sys/class/qns/charge_current
    chown oem_2985 oem_2985 /sys/class/qns/charge_voltage
    chown oem_2985 oem_2985 /sys/class/qns/charging_state
    chown oem_2985 oem_2985 /sys/class/qns/current_now
    chown oem_2985 oem_2985 /sys/class/qns/design
    chown oem_2985 oem_2985 /sys/class/qns/fcc
    chown oem_2985 oem_2985 /sys/class/qns/options
    chown oem_2985 oem_2985 /sys/class/qns/soc
    chown oem_2985 oem_2985 /sys/class/qns/temp
    chown oem_2985 oem_2985 /sys/class/qns/voltage
    chown oem_2985 oem_2985 /sys/class/qns/battery_type

on post-fs
    # Start qseecomd for vold
    start vendor.qseecomd

    # Display
    chown system system /sys/devices/mdss_dsi_panel/c_mode

    # backlight
    chown system system /sys/class/leds/wled/bl_scale
    chown system system /sys/class/leds/wled/area_count

    # panel ID
    chown system system /sys/devices/mdss_dsi_panel/panel_id
    chmod 0440 /sys/devices/mdss_dsi_panel/panel_id

    # System setting access from white balance app into fb.
    chown system graphics /dev/graphics/fb0
    chown system graphics /dev/graphics/fb1
    chown system graphics /dev/graphics/fb2

    # Wait for qseecomd to finish
    wait_for_prop vendor.sys.listeners.registered true

    # Trigger loading of ipa firmware
    write /dev/ipa 1

    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

#    # SONY: Switch the modem if needed
#    start modem_switcher

on post-fs-data
    # SONY: Camera
    chown cameraserver camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown cameraserver camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info
    mkdir /data/vendor/camera 0770 cameraserver camera

    # Fingerprint data folder
    mkdir /data/vendor/fpc 0770 system system

    # We expect that vold has already started and would not unmount the partitions again.
    mkdir /mnt/idd 0751 oem_2987 oem_2987
    mkdir /mnt/rca 0750 oem_2987 oem_2987

    mount_all /vendor/etc/idd.fstab --early

    chown oem_2987 oem_2987 /mnt/idd
    chmod 0751 /mnt/idd

    chown oem_2987 oem_2987 /mnt/rca
    chmod 0750 /mnt/rca

    exec - system system -- /system/bin/rm -r /mnt/idd/lost+found
    exec - system system -- /system/bin/rm -r /mnt/rca/lost+found

    # Remove lost+found in user and userdebug
    exec - system system -- /system/bin/rm -r /data/lost+found/.*
    exec - system system -- /system/bin/rm -r /cache/lost+found/.*
    exec - system system -- /system/bin/rm -r /idd/lost+found/.*

    # Resoving iddd failed to launch scenario due to
    # iddd have no permission to access iddd.pid(root:root)
    chown oem_2987 oem_2987 /mnt/idd/iddd.pid
    mkdir /mnt/idd/lost+found 0770 root root
    mkdir /mnt/idd/output 0755 oem_2987 oem_2987
    mkdir /mnt/idd/socket 0711 oem_2987 oem_2987
    mkdir /mnt/idd/startup-prober 0700 root root

    restorecon_recursive -F /mnt/idd
    mkdir /mnt/rca/plugins 0750 oem_2987 oem_2987
    restorecon_recursive -F /mnt/rca

    #### CHARGING
    # power_supply sysfs
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery/lrc_socmin
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery/running_status
    chmod 0664 /sys/class/power_supply/battery/device/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/charge_full_raw
    chmod 0664 /sys/class/power_supply/bms/device/batt_aging_level

    # The charge_service/chargemon/hvdcp_opti use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    # hvdcp_opti
    start vendor.hvdcp_opti

    # charge_service
    start charge_service

    # QNS
    start qns

    # prepare for chargemon
    write /config/usb_gadget/g1/os_desc/use 0

    # Set USB mode to MSC for SDP charging
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration mass_storage
    write /config/usb_gadget/g1/idProduct 0xeeee
    write /config/usb_gadget/g1/idVendor 0x0fce
    symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}

    # chargemon
    # Add oem_2993 to the group of chargemon for access MiscTA.
    # Add wakelock to the group of chargemon for access "/sys/power/wake_lock" and "/sys/power/wake_unlock".
    # Add input to the group of chargemon for access "/dev/input/event"
    exec - system system root oem_2993 wakelock input -- /vendor/bin/chargemon
    exec - root root -- /vendor/bin/chargemon_shutdown

    # enable os_desc after chargemon
    write /config/usb_gadget/g1/os_desc/use 1

    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on early-boot
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_cdsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

    # This is usually set by init.qcom.early_boot.sh
    # Let's set these things ourselves, instead of parsing a slow script
    # Change owner/permissions of fb0
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/lineptr_value
    chmod 0664 /sys/class/graphics/fb0/lineptr_value
    chown system graphics /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/modes
    chown system graphics /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0664 /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chown system graphics /sys/class/graphics/fb0/msm_fb_persist_mode
    chmod 0664 /sys/class/graphics/fb0/msm_fb_persist_mode
    # Change owner/permissions of fb1
    chown system graphics /sys/class/graphics/fb1/cec/enable
    chmod 0664 /sys/class/graphics/fb1/cec/enable
    chown system graphics /sys/class/graphics/fb1/cec/logical_addr
    chmod 0664 /sys/class/graphics/fb1/cec/logical_addr
    chown system graphics /sys/class/graphics/fb1/cec/rd_msg
    chmod 0664 /sys/class/graphics/fb1/cec/rd_msg
    chown system graphics /sys/class/graphics/fb1/cec/wr_msg
    chmod 0600 /sys/class/graphics/fb1/cec/wr_msg
    chown system graphics /sys/class/graphics/fb1/hdcp/tp
    chmod 0664 /sys/class/graphics/fb1/hdcp/tp
    chown system graphics /sys/class/graphics/fb1/hdcp2p2/min_level_change
    chmod 0660 /sys/class/graphics/fb1/hdcp2p2/min_level_change
    chown system graphics /sys/class/graphics/fb1/dynamic_fps
    chmod 0664 /sys/class/graphics/fb1/dynamic_fps
    chown system graphics /sys/class/graphics/fb1/hdr_stream
    chmod 0664 /sys/class/graphics/fb1/hdr_stream
    chown system graphics /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/lineptr_value
    chmod 0664 /sys/class/graphics/fb1/lineptr_value
    chown system graphics /sys/class/graphics/fb1/msm_fb_dfps_mode
    chmod 0664 /sys/class/graphics/fb1/msm_fb_dfps_mode
    chown system graphics /sys/class/graphics/fb1/msm_fb_persist_mode
    chmod 0664 /sys/class/graphics/fb1/msm_fb_persist_mode
    chown system graphics /sys/class/graphics/fb1/pa
    chmod 0664 /sys/class/graphics/fb1/pa
    chown system graphics /sys/class/graphics/fb1/product_description
    chmod 0664 /sys/class/graphics/fb1/product_description
    chown system graphics /sys/class/graphics/fb1/res_info
    chmod 0664 /sys/class/graphics/fb1/res_info
    chown system graphics /sys/class/graphics/fb1/s3d_mode
    chmod 0664 /sys/class/graphics/fb1/s3d_mode
    chown system graphics /sys/class/graphics/fb1/vendor_name
    chmod 0664 /sys/class/graphics/fb1/vendor_name
    chown system graphics /sys/class/graphics/fb1/video_mode
    chmod 0664 /sys/class/graphics/fb1/video_mode
    # Change owner/permissions of fb2
    chown system graphics /sys/class/graphics/fb2/lineptr_value
    chmod 0664 /sys/class/graphics/fb2/lineptr_value
    chown system graphics /sys/class/graphics/fb2/msm_fb_persist_mode
    chmod 0664 /sys/class/graphics/fb2/msm_fb_persist_mode
    # Graphics props
    setprop vendor.gpu.available_frequencies "710000000 670000000 596000000 515000000 414000000 342000000 257000000"
    # Start atfwd
    setprop persist.vendor.radio.atfwd.start true
    exec u:r:qti_init_shell:s0 -- /vendor/bin/init.qcom.early_boot.sh

    # This is normally set by init.qcom.sh but the script does nothing,
    # so there is no need to execute it.
    setprop ro.vendor.ril.mbn_copy_completed 1

    # Debug config for clearpad
    chown system system /sys/devices/virtual/input/clearpad/fwrevision
    chmod 0600 /sys/devices/virtual/input/clearpad/fwrevision
    restorecon /sys/devices/virtual/input/clearpad/fwrevision
    chown system system /sys/devices/virtual/input/clearpad/fwfamily
    chmod 0600 /sys/devices/virtual/input/clearpad/fwfamily
    restorecon /sys/devices/virtual/input/clearpad/fwfamily
    chown system system /sys/devices/virtual/input/clearpad/fwstate
    chmod 0600 /sys/devices/virtual/input/clearpad/fwstate
    restorecon /sys/devices/virtual/input/clearpad/fwstate
    chown system system /sys/devices/virtual/input/clearpad/fwinfo
    chmod 0600 /sys/devices/virtual/input/clearpad/fwinfo
    restorecon /sys/devices/virtual/input/clearpad/fwinfo

on boot
    start vendor.rmt_storage

    ####Regionalization config and prop files####
    chmod 0644 /persist/speccfg/spec
    chmod 0644 /persist/speccfg/devicetype
    chmod 0644 /persist/speccfg/mbnversion
    chmod 0644 /persist/speccfg/.not_triggered
    chmod 0644 /persist/speccfg/vendor_ro.prop
    chmod 0644 /persist/speccfg/vendor_persist.prop
    chmod 0644 /persist/speccfg/submask
    chmod 0644 /persist/speccfg/partition
    chown system system /persist/speccfg/spec
    chown system system /persist/speccfg/devicetype
    chown system system /persist/speccfg/mbnversion
    chown system system /persist/speccfg/.not_triggered
    chown system system /persist/speccfg/vendor_ro.prop
    chown system system /persist/speccfg/vendor_persist.prop
    chown system system /persist/speccfg/submask
    chown system system /persist/speccfg/partition

    # Glove mode
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0600 /sys/devices/virtual/input/clearpad/glove
    restorecon /sys/devices/virtual/input/clearpad/glove

    # Allow access for CCID command/response timeout configuration
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    # Add a cpuset for the camera daemon
    # we want all the little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    # Tof sensor
    chown cameraserver camera /dev/i2c-8
    chmod 666 /dev/i2c-8
    chown cameraserver camera /sys/devices/virtual/input/tof_sensor/tof_power_ctl
    chmod 666 /sys/devices/virtual/input/tof_sensor/tof_power_ctl

    # RGBC-IR sensor
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_all
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_blue
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_clear
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_green
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_red
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_id
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    chown system audio /sys/class/leds/vibrator/activate
    chmod 0660 /sys/class/leds/vibrator/activate

    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1

    # Kernel module for wifi
    insmod /vendor/lib/modules/wlan.ko

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath
    chown wifi wifi /sys/kernel/boot_wlan/boot_wlan

on shutdown
    write /sys/class/power_supply/battery/int_cld 1

on property:wlan.driver.status=ok
    # WLAN firmware config
    wait /sys/module/wlan/parameters/fwpath

    # Change owner after the module has been loaded by the wifi service
    chown wifi wifi /sys/module/wlan/parameters/fwpath
    restorecon /sys/module/wlan/parameters/fwpath

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -puse_p2p_group_interface=1 -dd \
    -g@android:vendor_wpa_wlan0
    # We will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    interface android.hardware.wifi.supplicant@1.0::ISupplicant default
    interface android.hardware.wifi.supplicant@1.1::ISupplicant default
    interface android.hardware.wifi.supplicant@1.2::ISupplicant default
    class main
    socket vendor_wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# QMI DPM
service dpmQmiMgr /system/vendor/bin/dpmQmiMgr
    class main
    user system
    group system

#service modem_switcher /system/bin/sony-modem-switcher
#    class main
#    user root
#    group root system oem_2993 cache
#    disabled
#    oneshot

# QCOM Quick Charge
service vendor.hvdcp_opti /system/vendor/bin/hvdcp_opti
    user root
    group system wakelock
    disabled

# Charge service
service charge_service /vendor/bin/charge_service
    user system
    # Add oem_2993 to the group of charge_service for access MiscTA.
    # Add wakelock to the group of charge_service for access "/sys/power/wake_lock" and "/sys/power/wake_unlock".
    group system root oem_2993 wakelock
    # For reducing CPU loads, charge service runs as system-background process.
    writepid /dev/cpuset/system-background/tasks
    disabled

# Qns
service qns /vendor/bin/qns -d /mnt/qns -l /mnt/qns
    user oem_2985
    group oem_2985
    socket qnsbsd stream 660 oem_2985 system
    disabled

on property:sys.user.0.ce_available=true
    # Remounting partitions here just in case vold restarts
    mount_all /vendor/etc/qns.fstab --early

# Iddd
service iddd /vendor/bin/iddd
    class core
    user oem_2987
    group oem_2987 log inet oem_2993
    writepid /dev/cpuset/system-background/tasks

on property:sys.user.0.ce_available=true
    # Remounting partitions here just in case vold restarts
    mount_all /vendor/etc/idd.fstab --early
    # Setting property to inform that partitions are mounted
    setprop vendor.idd.partitions_ready 1

on charger
    setprop persist.sys.usb.config mass_storage
    load_system_props

    # power_supply sysfs
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery/lrc_socmin
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery/running_status
    chmod 0664 /sys/class/power_supply/battery/device/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/charge_full_raw
    chmod 0664 /sys/class/power_supply/bms/device/batt_aging_level

    # chargemon use brightness and autosleep before on boot, so add permission here.
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/power/autosleep

    # hvdcp_opti
    start vendor.hvdcp_opti

    # charge_service
    start charge_service

    # QNS
    chown oem_2985 oem_2985 /sys/class/qns
    chown oem_2985 oem_2985 /sys/class/qns/alarm
    chown oem_2985 oem_2985 /sys/class/qns/charge_current
    chown oem_2985 oem_2985 /sys/class/qns/charge_voltage
    chown oem_2985 oem_2985 /sys/class/qns/charging_state
    chown oem_2985 oem_2985 /sys/class/qns/current_now
    chown oem_2985 oem_2985 /sys/class/qns/design
    chown oem_2985 oem_2985 /sys/class/qns/fcc
    chown oem_2985 oem_2985 /sys/class/qns/options
    chown oem_2985 oem_2985 /sys/class/qns/soc
    chown oem_2985 oem_2985 /sys/class/qns/temp
    chown oem_2985 oem_2985 /sys/class/qns/voltage
    chown oem_2985 oem_2985 /sys/class/qns/battery_type

    start qns

    # prepare for chargemon
    write /config/usb_gadget/g1/os_desc/use 0

    setprop sys.usb.configfs 1

on property:vendor.battery.charge.osv.init=1
    setprop persist.vendor.battery.charge ${persist.service.battery.charge}

# Set value in property to sysfs for LRC mode
on property:persist.vendor.battery.charge=0
    write /sys/class/power_supply/battery/lrc_enable 0
    write /sys/class/power_supply/battery/lrc_socmax 0
    write /sys/class/power_supply/battery/lrc_socmin 0

on property:persist.vendor.battery.charge=1
    write /sys/class/power_supply/battery/lrc_socmax 60
    write /sys/class/power_supply/battery/lrc_socmin 40
    write /sys/class/power_supply/battery/lrc_enable 1

# Set touch sleep mode on backlight_on
on property:vendor.backlight_on=0
    write /sys/devices/virtual/input/clearpad/force_sleep 2
on property:vendor.backlight_on=1
    write /sys/devices/virtual/input/clearpad/force_sleep 0

on property:sys.boot_completed=1
    # Partly from init.qcom.post_boot.sh

    # This initializes vendor.qti.hardware.perf@1.0-service
    setprop vendor.post_boot.parsed 1

    # Configure memory parameters
    write /sys/module/lowmemorykiller/parameters/adj_max_shift 606
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 105984
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
    write /sys/module/vmpressure/parameters/allocstall_threshold 0
    write /proc/sys/vm/swappiness 100

    # Reset read ahead for sda and set it for mmcblk0
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/bdi/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/read_ahead_kb 512

    write /sys/class/block/mmcblk0/bdi/max_ratio 1

    # SONY: Enable wakeup irq module
    write /sys/devices/platform/wakeup_debug.0/enable 1

# Touch
on property:dev.bootcomplete=1 && property:persist.sys.touch.glove_mode=*
    write /sys/devices/virtual/input/clearpad/glove ${persist.sys.touch.glove_mode}

on property:dev.bootcomplete=1 && property:persist.sys.touch.cover_mode_enabled=*
    write /sys/devices/virtual/input/clearpad/cover_mode_enabled ${persist.sys.touch.cover_mode_enabled}
