# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import init.common.rc
import init.common.srv.rc
import init.common.ims.rc
import init.common.qcom.rc
import init.yoshino.usb.rc
import init.yoshino.pwr.rc

on early-init
    write /sys/module/msm_rtb/parameters/enable 0

on init
    # Load persistent dm-verity state
    verity_load_state

    # Setup platform zram options
    write /sys/block/zram0/max_comp_streams 8

    chmod 0664 /proc/rdtag
    chown root system /proc/rdtag
    write /proc/sys/vm/swappiness 100

    # Wait for trimarea
    wait /dev/block/sda1
    chown tad tad /dev/block/sda1
    chmod 0770 /dev/block/sda1

on fs
    # SONY: creat mount point for idd and rca
    mkdir /idd 0751 idd idd
    mkdir /rca 0750 idd idd

    # SONY: creat mount point for qns
    mkdir /qns 0750 qns qns

    mount_all fstab.${ro.hardware}

    # change the compression algorithm for zRAM
    write /sys/block/zram0/comp_algorithm lz4
    # Enable ZRAM
    swapon_all ./fstab.${ro.hardware}

    restorecon_recursive /persist

    write /sys/devices/soc/c0a4900.sdhci/mmc_host/mmc0/clkgate_delay 1

    # SONY: setup idd and rca partition
    chown idd idd /idd
    chmod 0751 /idd
    exec /system/bin/rm -r /idd/lost+found
    symlink /idd /mnt/idd
    chown idd idd /rca
    chmod 0750 /rca
    exec /system/bin/rm -r /rca/lost+found

    # SONY: setup qns partition
    chown qns qns /qns
    chmod 0750 /qns
    restorecon_recursive /qns

    # Start tad_static early as other core services depend on it
    wait /dev/block/sda1
    chown tad tad /dev/block/sda1
    chmod 0770 /dev/block/sda1
    start tad_static

    start hwservicemanager

    # Kernel module for AES-XTS/AES-CBC used by ext4 FBE
    insmod /vendor/lib/modules/kscl.ko

on post-fs
    # Start qseecomd for vold
    start qseecomd

    # backlight
    chown system system /sys/class/leds/wled/bl_scale
    chown system system /sys/class/leds/wled/area_count

    # panel ID
    chown system system /sys/devices/mdss_dsi_panel/panel_id
    chmod 0440 /sys/devices/mdss_dsi_panel/panel_id

    # System setting access from white balance app into fb.
    chown system graphics /dev/graphics/fb0
    chown system graphics /dev/graphics/fb1
    chown system graphics /dev/graphics/fb2

    # Wait for qseecomd to finish
    wait_for_prop sys.listeners.registered true

    # Trigger loading of ipa firmware
    write /dev/ipa 1

    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on post-fs-data
    # create directory for wfd
    mkdir /data/wfd 0770 system system

    # SONY: Camera
    chown cameraserver camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown cameraserver camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info
    mkdir /data/vendor/somc_camera 0770 cameraserver camera

    # create directory for scd
    mkdir /dev/socket/scd 0705 system system
    mkdir /data/scd 0700 system system

    # create directory for widevine
    mkdir /data/wv 0700 media media

    # Create directory to store logs
    mkdir /data/system/log 0770 root system
    chown root system /data/system/log
    chmod 0770 /data/system/log

    # SONY: Create a dir on data partition not to be deleted during mr and wipedata
    mkdir /data/persist 0770 persist_rw persist_rw

    # Fingerprint data folder
    mkdir /data/fpc 0770 system system

    # Illumination service data folder
    mkdir /data/vendor/illumination_service 0770 system system

    restorecon -RF /idd
    mkdir /rca/plugins 0750 idd idd
    restorecon -RF /rca

    # ADSP
    # Audio HAL has to write to boot_adsp sysfs entry to unload image
    chown root audio /sys/kernel/boot_adsp/boot

    # QNS
    chown qns qns /sys/class/qns
    chown qns qns /sys/class/qns/alarm
    chown qns qns /sys/class/qns/charge_current
    chown qns qns /sys/class/qns/charge_voltage
    chown qns qns /sys/class/qns/charging_state
    chown qns qns /sys/class/qns/current_now
    chown qns qns /sys/class/qns/design
    chown qns qns /sys/class/qns/fcc
    chown qns qns /sys/class/qns/options
    chown qns qns /sys/class/qns/soc
    chown qns qns /sys/class/qns/temp
    chown qns qns /sys/class/qns/voltage
    chown qns qns /sys/class/qns/battery_type
    start qns

on early-boot
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

    exec u:r:qti_init_shell:s0 -- /vendor/bin/init.qcom.early_boot.sh

on boot
    # Cover mode
    chown system system /sys/devices/virtual/input/clearpad/cover_mode_enabled
    chown system system /sys/devices/virtual/input/clearpad/cover_win_bottom
    chown system system /sys/devices/virtual/input/clearpad/cover_win_left
    chown system system /sys/devices/virtual/input/clearpad/cover_win_right
    chown system system /sys/devices/virtual/input/clearpad/cover_win_top

    # Tap to wake
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture
    chmod 0660 /sys/devices/virtual/input/clearpad/wakeup_gesture

    # Glove mode
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove

    # Allow access for CCID command/response timeout configuration
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    # Socket location for RIDL
    mkdir /dev/socket/RIDL 2770 system system

    # Required for fingerprint
    chown system system /sys/bus/spi/devices/spi0.1/clk_enable
    chmod 0660 /sys/bus/spi/devices/spi0.1/clk_enable
    chown system system /sys/devices/soc/fpc1145_device/spi_prepare
    chmod 0660 /sys/devices/soc/fpc1145_device/spi_prepare
    chown system system /sys/devices/soc/fpc1145_device/wakeup_enable
    chmod 0660 /sys/devices/soc/fpc1145_device/wakeup_enable
    chown system system /sys/devices/soc/fpc1145_device/irq
    chmod 0660 /sys/devices/soc/fpc1145_device/irq

    # Add a cpuset for the camera daemon
    # we want all the little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    # Update foreground cpuset now that processors are up
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1

    # Tof sensor
    chown cameraserver camera /dev/i2c-8
    chmod 666 /dev/i2c-8
    chown cameraserver camera /sys/devices/virtual/input/tof_sensor/tof_power_ctl
    chmod 666 /sys/devices/virtual/input/tof_sensor/tof_power_ctl

    # RGBC-IR sensor
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_all
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_blue
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_clear
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_green
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_red
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_id
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath
    chown wifi wifi /sys/kernel/boot_wlan/boot_wlan

on shutdown
    write /sys/class/power_supply/battery/int_cld 1

on property:persist.service.battery.smt_chg=activate
    write /sys/class/power_supply/battery/smart_charging_activation 1

on property:persist.service.battery.smt_chg=charging_suspend
    write /sys/class/power_supply/battery/smart_charging_interruption 1

on property:persist.service.battery.smt_chg=charging_resume
    write /sys/class/power_supply/battery/smart_charging_interruption 0

# charger
on property:persist.service.battery.charge=0
    write /sys/class/power_supply/battery/lrc_enable 0
    write /sys/class/power_supply/battery/lrc_socmax 0
    write /sys/class/power_supply/battery/lrc_socmin 0

on property:persist.service.battery.charge=1
    write /sys/class/power_supply/battery/lrc_socmax 60
    write /sys/class/power_supply/battery/lrc_socmin 40
    write /sys/class/power_supply/battery/lrc_enable 1

on property:wlan.driver.status=ok
    # WLAN firmware config
    wait /sys/module/wlan/parameters/fwpath

    # Change owner after the module has been loaded by the wifi service
    chown wifi wifi /sys/module/wlan/parameters/fwpath
    restorecon /sys/module/wlan/parameters/fwpath

service wpa_supplicant /system/vendor/bin/hw/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/vendor/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    # We will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# QMI DPM
service dpmQmiMgr /vendor/bin/dpmQmiMgr
    class main
    user system
    group system

# SONY: IDD daemon
service iddd /vendor/bin/iddd
    class core
    user idd
    group idd log inet trimarea
    writepid /dev/cpuset/system-background/tasks

service cacaoserver /system/bin/cacaoserver
    class main
    user cameraserver
    group audio camera input drmrpc
    ioprio rt 4
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks

# QCOM Quick Charge
service hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock
    disabled

service qns /vendor/bin/qns -d /qns -l /qns
    user qns
    group qns
    socket qnsbsd stream 660 qns system
    disabled

on charger
    setprop sys.usb.config mass_storage
    load_system_props

    start hvdcp_opti

    chown qns qns /sys/class/qns
    chown qns qns /sys/class/qns/alarm
    chown qns qns /sys/class/qns/charge_current
    chown qns qns /sys/class/qns/charge_voltage
    chown qns qns /sys/class/qns/charging_state
    chown qns qns /sys/class/qns/current_now
    chown qns qns /sys/class/qns/design
    chown qns qns /sys/class/qns/fcc
    chown qns qns /sys/class/qns/options
    chown qns qns /sys/class/qns/soc
    chown qns qns /sys/class/qns/temp
    chown qns qns /sys/class/qns/voltage
    chown qns qns /sys/class/qns/battery_type
    start qns

    setprop sys.usb.configfs 1
