# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

import init.common.rc
import init.common.srv.rc
import init.yoshino.usb.rc
import init.yoshino.pwr.rc

on init
    write /sys/block/zram0/max_comp_streams 8

    # Mount cgroup for cpu accounting
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    wait /dev/block/sda1
    chown tad tad /dev/block/sda1
    chmod 0770 /dev/block/sda1

on fs
    mount_all ./fstab.yoshino
    swapon_all ./fstab.yoshino

    restorecon_recursive /persist

    # Start tad_static early as other core services depend on it
    start tad_static

    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_slpi/boot 1
    write /dev/ipa 1
    exec u:r:qti_init_shell:s0 -- /init.qcom.early_boot.sh

on post-fs
    # backlight
    chown system system /sys/class/leds/wled/bl_scale
    chown system system /sys/class/leds/wled/area_count

    # led RGB
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink
    chown system system /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_red/lut_pwm
    chown system system /sys/class/leds/led:rgb_red/step_duration
    chown system system /sys/class/leds/led:rgb_red/pause_lo_multi
    chown system system /sys/class/leds/led:rgb_red/pause_hi_multi
    chown system system /sys/class/leds/led:rgb_red/max_single_brightness
    chown system system /sys/class/leds/led:rgb_red/max_mix_brightness
    chown system system /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_green/lut_pwm
    chown system system /sys/class/leds/led:rgb_green/step_duration
    chown system system /sys/class/leds/led:rgb_green/pause_lo_multi
    chown system system /sys/class/leds/led:rgb_green/pause_hi_multi
    chown system system /sys/class/leds/led:rgb_green/max_single_brightness
    chown system system /sys/class/leds/led:rgb_green/max_mix_brightness
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/lut_pwm
    chown system system /sys/class/leds/led:rgb_blue/step_duration
    chown system system /sys/class/leds/led:rgb_blue/pause_lo_multi
    chown system system /sys/class/leds/led:rgb_blue/pause_hi_multi
    chown system system /sys/class/leds/led:rgb_blue/max_single_brightness
    chown system system /sys/class/leds/led:rgb_blue/max_mix_brightness

    # start clearpad_post_probe when filesystem is available for fwflash
    write /sys/devices/virtual/input/clearpad/post_probe_start 1

on post-fs-data
    # Directory for tftp
    mkdir /data/vendor/tombstones 0770 system system

    mkdir /data/misc/ipa 0700 net_admin net_admin

    mkdir /data/vendor/ramdump 0771 root system
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/ramdump/bluetooth 0770 bluetooth bluetooth

    # Create the directories used by CnE subsystem
    mkdir /data/connectivity 0771 system system
    chown system system /data/connectivity

    # Create the directories used by IMS profile override
    mkdir /data/vendor/connectivity 0750 system system
    mkdir /data/vendor/connectivity/wqeclient 0750 system system

    # Create directory used by audio subsystem
    mkdir /data/vendor/audio/ 0770 media audio

    # Create directory for audio delta files
    mkdir /data/vendor/audio/acdbdata 0770 media audio
    mkdir /data/vendor/audio/acdbdata/delta 0770 media audio

    # Create directories for Location services
    mkdir /data/vendor/location 0770 gps gps
    mkdir /data/vendor/location/mq 0770 gps gps
    mkdir /data/vendor/location/xtwifi 0770 gps gps

    # Create directory for radio
    mkdir /data/vendor/radio 0770 system radio

    # Mark the copy complete flag to not completed
    write /data/vendor/radio/copy_complete 0
    chown radio radio /data/vendor/radio/copy_complete
    chmod 0660 /data/vendor/radio/copy_complete

    # Copy prebuilt qcril.db files always
    copy /vendor/radio/qcril_database/qcril.db /data/vendor/radio/qcril_prebuilt.db
    chown radio radio /data/vendor/radio/qcril_prebuilt.db
    chmod 0660 /data/vendor/radio/qcril_prebuilt.db
    # File flags for prebuilt ril db file
    write /data/vendor/radio/prebuilt_db_support 1
    chown radio radio /data/vendor/radio/prebuilt_db_support
    chmod 0400 /data/vendor/radio/prebuilt_db_support
    write /data/vendor/radio/db_check_done 0
    chown radio radio /data/vendor/radio/db_check_done
    chmod 0660 /data/vendor/radio/db_check_done

    # SONY: Camera
    chown cameraserver camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown cameraserver camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info
    mkdir /data/vendor/somc_camera 0770 cameraserver camera

on boot
    # WLAN MAC
    chown wifi wifi /sys/module/wlan/parameters/fwpath

    # Bluetooth
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo

    # Cover mode
    chown system system /sys/devices/virtual/input/clearpad/cover_mode_enabled
    chown system system /sys/devices/virtual/input/clearpad/cover_win_bottom
    chown system system /sys/devices/virtual/input/clearpad/cover_win_left
    chown system system /sys/devices/virtual/input/clearpad/cover_win_right
    chown system system /sys/devices/virtual/input/clearpad/cover_win_top

    # Tap to wake
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture
    chmod 0660 /sys/devices/virtual/input/clearpad/wakeup_gesture

    # Glove mode
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove

    # Allow access for CCID command/response timeout configuration
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    # Socket location for RIDL
    mkdir /dev/socket/RIDL 2770 system system

    # Required for fingerprint
    chown system system /sys/bus/spi/devices/spi0.1/clk_enable
    chmod 0660 /sys/bus/spi/devices/spi0.1/clk_enable
    chown system system /sys/devices/soc/fpc1145_device/spi_prepare
    chmod 0660 /sys/devices/soc/fpc1145_device/spi_prepare
    chown system system /sys/devices/soc/fpc1145_device/wakeup_enable
    chmod 0660 /sys/devices/soc/fpc1145_device/wakeup_enable
    chown system system /sys/devices/soc/fpc1145_device/irq
    chmod 0660 /sys/devices/soc/fpc1145_device/irq

    # Add a cpuset for the camera daemon
    # we want all the little cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    # update foreground cpuset now that processors are up
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1

    # Tof sensor
    chown cameraserver camera /dev/i2c-8
    chmod 666 /dev/i2c-8
    chown cameraserver camera /sys/devices/virtual/input/tof_sensor/tof_power_ctl
    chmod 666 /sys/devices/virtual/input/tof_sensor/tof_power_ctl

    # RGBC-IR sensor
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_all
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_blue
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_clear
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_green
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_red
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_id
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/chip_pow

on property:wlan.driver.status=ok
    # WLAN firmware config
    # Change owner after the module has been loaded by the wifi service
    chown wifi wifi /sys/module/wlan/parameters/fwpath

# OSS WLAN and BT MAC setup
service macaddrsetup /system/bin/macaddrsetup /data/misc/wifi/wlan_mac.bin
    class core
    user system
    group system bluetooth wifi
    disabled
    oneshot
    writepid /dev/cpuset/system-background/tasks

service wpa_supplicant /system/vendor/bin/hw/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    # We will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service tftp_server /vendor/bin/tftp_server
   class core
   user root

service pd_mapper /vendor/bin/pd-mapper
     class core

service hci_filter /vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth radio system wakelock
    disabled

service cnss-daemon /vendor/bin/cnss-daemon -n -l
    class late_start
    user system
    group system inet net_admin wifi

service cacaoserver /system/bin/cacaoserver
    class main
    user cameraserver
    group audio camera input drmrpc
    ioprio rt 4
    writepid /dev/cpuset/camera-daemon/tasks /dev/stune/top-app/tasks

on property:vold.post_fs_data_done=1
    # Generate Bluetooth MAC address file only when /data is ready
    start macaddrsetup

on property:sys.boot_completed=1
    # Start the WiFi only after secure services are up
    write /sys/kernel/boot_wlan/boot_wlan 1

on property:wc_transport.start_hci=true
    start hci_filter

on property:wc_transport.start_hci=false
    stop hci_filter
