<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.sonymobile.customizationselector"
    platformBuildVersionName="4.1.0.A.0.0"
    android:sharedUserId="android.uid.phone">

    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="com.sonymobile.permission.TRIMAREA" />
    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:directBootAware="true"
        android:excludeFromRecents="true"
        android:immersive="true"
        android:label="@string/app_name">

        <uses-library android:name="com.sonymobile.miscta.api" />

        <activity
            android:name="com.sonymobile.customizationselector.StatusActivity"
            android:theme="@style/AppTheme"
            android:label="Status Activity"
            android:icon="@drawable/debug_icon"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sonymobile.customizationselector.LogActivity"
            android:theme="@style/AppTheme"
            android:label="Log Activity"
            android:icon="@drawable/debug_icon"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sonymobile.customizationselector.CustomizationSelectorActivity"
            android:enabled="false"
            android:label="@string/app_name"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter android:priority="2">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sonymobile.customizationselector.CustomizationSelectorSUWActivity"
            android:label="@string/app_name"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.sonymobile.customizationselector.action.SETUPWIZARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sonymobile.customizationselector.ModemSwitcherActivity"
            android:configChanges="orientation"
            android:icon="@drawable/debug_icon"
            android:exported="false"
            android:label="Modem Switcher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.sonyericsson.debugmenu.ENTRY_INTENT" />
                <category android:name="com.sonyericsson.debugmenu.ENTRY_CATEGORY" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sonymobile.customizationselector.CustomizationSelectorService"
            android:exported="false" />
        <service
            android:name="com.sonymobile.customizationselector.DSDataSubContentJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.sonymobile.customizationselector.NS.NetworkSwitcher"
            android:enabled="true" />
        <service
            android:name="com.sonymobile.customizationselector.MapleStarter"
            android:enabled="true" />

        <receiver android:name="com.sonymobile.customizationselector.EventReceiver" android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="android.telephony.action.CARRIER_CONFIG_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sonymobile.customizationselector.MasterClearReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MASTER_CLEAR_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sonymobile.customizationselector.NotificationReceiver" android:exported="false" />
        <receiver android:name="com.sonymobile.customizationselector.NS.NSBootReceiver" android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sonymobile.customizationselector.PreferenceReceiver"
              android:enabled="true"
              android:exported="true"/>

    </application>
</manifest>
